language: python
python:
- 2.7
- 3.5
- 3.6

os: linux
jdk:
  - oraclejdk8

sudo: true
# Cache the Maven dependencies installed.
cache:
  directories:
  - .batfish_z3_cache
  - $HOME/.m2

install: ./.travis/install.sh
script: ./.travis/build.sh

# Delete the batfish jars, which change every build, from the cache.
# Also delete the locally-built jars, which are installed every build.
#
# Otherwise the cache would be detected as updated every time.
before_cache:
- rm -rf $HOME/.m2/repository/com/jayway/jsonpath/json-path/
- rm -rf $HOME/.m2/repository/com/kjetland/mbknor-jackson-jsonschema_2.12/
- rm -rf $HOME/.m2/repository/com/microsoft/z3/z3/
- rm -rf $HOME/.m2/repository/net/sf/javabdd/
- rm -rf $HOME/.m2/repository/org/antlr/
- rm -rf $HOME/.m2/repository/org/batfish/
