name: Pre-commit (reusable)
on:
  workflow_call:
    inputs:
      batfish_repo:
        description: "Git repo containing Batfish"
        required: false
        default: "batfish/batfish"
        type: string
      batfish_ref:
        description: "Git ref for Batfish version to release"
        required: false
        default: "master"
        type: string
    secrets:
      PYBATFISH_CODECOV_TOKEN:
        required: true

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Run checks
        run: |
          pip install pre-commit
          pre-commit run --all-files
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Run checks
        run: |
          pip install --upgrade pip wheel 'setuptools>=77.0.1'
          pip install -e .[dev]
          mypy pybatfish tests
  bf_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Batfish repo
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.batfish_repo }}
          ref: ${{ inputs.batfish_ref }}
      - name: Bazel cache
        uses: actions/cache@v3
        with:
          path: "~/.cache/bazel"
          key: ${{runner.os}}-bazel-17-${{ hashFiles('.bazelversion', 'WORKSPACE', 'maven_install.json') }}-${{ needs.get_date.outputs.ymd }}
          restore-keys: |
            ${{runner.os}}-bazel-17-${{ hashFiles('.bazelversion', 'WORKSPACE', 'maven_install.json') }}-
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Build JAR
        run: |
          bazel build //projects/allinone:allinone_main_deploy.jar
          cp bazel-bin/projects/allinone/allinone_main_deploy.jar allinone.jar
      - name: Questions tar
        run: |
          TMP_DIR=$(mktemp -d)
          QUESTION_DIR=${TMP_DIR}/questions
          mkdir -p ${QUESTION_DIR}
          cp -r questions/{stable,experimental} ${QUESTION_DIR}
          tar -czf questions.tgz -C ${TMP_DIR} questions
      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: bf_jar
          path: allinone.jar
      - name: Upload questions
        uses: actions/upload-artifact@v4
        with:
          name: bf_questions
          path: questions.tgz
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      - name: Run tests
        run: |
          pip install --upgrade pip wheel
          pip install -e .[dev]
          pytest tests
      - name: codecov
        # Let codecov upload fail - codecov goes down not infrequently.
        continue-on-error: true
        run: |
          version=$(echo ${{ matrix.python_version }} | sed s/\\.//)
          bash <(curl -s https://codecov.io/bash) -t ${{ secrets.PYBATFISH_CODECOV_TOKEN }} -F unit${version}
    strategy:
      matrix:
        python_version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
  integration_tests:
    runs-on: ubuntu-latest
    needs:
      - bf_build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
      - name: Download bf JAR
        uses: actions/download-artifact@v4
        with:
          name: bf_jar
      - name: Download questions
        uses: actions/download-artifact@v4
        with:
          name: bf_questions
      - name: Run tests
        run: |
          tar -xzf questions.tgz
          coordinator_args=(\
            -templatedirs=questions \
            -periodassignworkms=5 \
          )
          allinone_args=(\
            -runclient=false
            -coordinatorargs="$(echo -n "${coordinator_args[@]}")" \
          )
          java -cp allinone.jar org.batfish.allinone.Main "${allinone_args[@]}" 2>&1 > batfish.log &
          pip install -e .[dev] -q
          pytest tests/integration
      - name: codecov
        # Let codecov upload fail - codecov goes down not infrequently.
        continue-on-error: true
        run: |
          version=$(echo ${{ matrix.python_version }} | sed s/\\.//)
          bash <(curl -s https://codecov.io/bash) -t ${{ secrets.PYBATFISH_CODECOV_TOKEN }} -F integration${version}
    strategy:
      matrix:
        python_version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
  doc_tests:
    runs-on: ubuntu-latest
    needs:
      - bf_build
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Download bf JAR
        uses: actions/download-artifact@v4
        with:
          name: bf_jar
      - name: Download questions
        uses: actions/download-artifact@v4
        with:
          name: bf_questions
      - name: Run tests
        run: |
          tar -xzf questions.tgz
          java -cp allinone.jar org.batfish.allinone.Main -runclient false -coordinatorargs '-templatedirs questions -periodassignworkms=5' 2>&1 > batfish.log &
          pip install --upgrade pip setuptools wheel -q
          pip install -e .[dev] -q
          pytest docs
          pytest pybatfish --doctest-modules
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Build docs
        run: |
          sudo apt update -qq
          sudo apt -qq install -y pandoc
          pip install --upgrade pip setuptools wheel -q
          pip install -e .[dev] -q
          pushd docs
          make html
          popd
      - name: Upload docs
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/build/html
  readthedocs_build:
    runs-on: ubuntu-22.04 # Match ReadTheDocs OS
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9 # Match ReadTheDocs Python version
      - name: Build docs in ReadTheDocs-like environment
        run: |
          sudo apt update -qq
          sudo apt -qq install -y pandoc
          export READTHEDOCS_OUTPUT=../../RTDOUT
          # The remaining commands are copied direct from readthedocs.org build logs
          # We may need to update them if RTD changes what it does.
          python -m pip install --upgrade --no-cache-dir pip setuptools
          python -m pip install --upgrade --no-cache-dir sphinx
          python -m pip install --upgrade --upgrade-strategy only-if-needed --no-cache-dir .[dev]
          cd docs/source ## This command is not copied, but it seems that RTD switches directories invisible at some point
          python -m sphinx -T -W --keep-going -b html -d _build/doctrees -D language=en . $READTHEDOCS_OUTPUT/html
